*{
   box-sizing: border-box;
}
.selectors{
    border: 1px solid black;
    padding:5px 3px;
}
.selectors h1{
    color: red;
    font-weight: 300;
}
#selector_1{
    padding: 5px;
}
#pseud:hover{
    color:blue
}
#submit{
    text-align: center;
    padding: 5px;
    margin-left: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: aquamarine;
}
#submit:hover{
    background-color: chocolate;
}
.layouts{
    padding: 5px 12px;
    border: 1px solid black;
}
.nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.nav {
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container {
  display: grid;
  gap: 20px;   /* gap: 10px, gap: 10px 20 px, row-gap:30px */
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px; 
}
.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}